@import url("/assets/styles/default.css");

#table-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}

.horzintal-flex {
    display: flex;
    gap: 24px;
}

#button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}