button {
    padding: clamp(4px, 4vw, 18px);
    font-size: clamp(8px, 4vw, 18px);
    
    color: var(--MainShadowColor);
    background-color: var(--MainColor);

    border-radius: 8px;
    border-top: solid 2px var(--MainColorHighlight);
    border-left: solid 2px var(--MainColorHighlight);
    border-right: solid 2px var(--MainShadowColor);
    border-bottom: solid 2px var(--MainShadowColor);
}

button:hover {
    cursor: pointer;
    filter: brightness(1.1);
}

button:active {filter: brightness(0.8);}

button.alt-color {
    color: var(--MainHighlightColor);
    background-color: var(--MainShadowColor);

    border-top: solid 2px var(--MainColorHighlight);
    border-left: solid 2px var(--MainColorHighlight);
    border-right: solid 2px var(--MainColor);
    border-bottom: solid 2px var(--MainColor);
}