@import url("/assets/styles/default.css");

#main-title {padding-bottom: 0;}

#sheet-container {
    width: auto;
    height: 100%;

    margin: 16px;
    padding: 18px;

    border-radius: 8px;

    background-color:  rgba(0, 0, 0, .5);

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;

    justify-content: left;
    justify-self: center;
}

#sheet-add img {
    width: 128px;
    height: 128px;
    pointer-events: none;
}

#sheet-add {
    height: 144;
    order: 99999;
    padding: 8px;
    
    border: none;
    background-color: rgba(0, 0, 0, .5);
}

#sheet-container > * {
    flex: 0 1;
    aspect-ratio: 1;
}

.sheet {
    height: 128px;
    width: 128px;
    padding: 8px;

    border-radius: 8px;
    background-color: rgba(0, 0, 0, .5);
    cursor: pointer;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
}

.sheet img {
    flex: 1;
    min-height: 0;
    width: 100%;
    object-fit: contain;
}
#dont-create-sheet-button {padding: 8px 12px;}

#create-sheet-prompt {
    position: fixed;
    z-index: 10;
    inset: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, .5);
    display: none;
}

.prompt button {padding: 8px 32px}
.prompt span {padding: 0 12px;}