@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Noto+Sans+Math&family=Noto+Sans+Symbols:wght@100..900&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');

.old-standard-tt-regular {
    font-family: "Old Standard TT", serif;
    font-weight: 400;
    font-style: normal;
}